<aca-page-layout>
  <aca-page-layout-header>
    <adf-breadcrumb root="APP.NEW_MENU.MENU_ITEMS.CREATE_FOLDER_GENERIQUE"> 
    </adf-breadcrumb>
  </aca-page-layout-header>
  <aca-page-layout-content>
    <div class="main-content">
      <form [formGroup]="folderFormGroup" (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-label>Formulaire dossier générique</mat-label>

          <br />

          <mat-form-field class="example-full-width">
            <mat-label>Nom du dossier générique</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Référence Client</mat-label>
            <input matInput formControlName="refClient" />
          </mat-form-field>

          <br />

        </mat-card>
        <div>
          <button mat-button type="submit" [disabled]="!folderFormGroup.valid">
            Valider
          </button>
        </div>
      </form>
    </div>
  </aca-page-layout-content>
</aca-page-layout>