.app-create-menu:focus {
  outline: none;
}

.app-create-menu {
  width: 100%;

  .mat-stroked-button:not(.app-create-menu-secondary-button) {
    background-color: var(--theme-accent-color);
    color: var(--theme-primary-color-default-contrast);
    margin-top: 0px;

    .mat-icon {
      color: var(--theme-primary-color-default-contrast);
    }
  }

  .mat-stroked-button {
    width: 100%;
    height: 37.5px;
    border-radius: 4px;
    font-size: 12.7px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 10px;

    .mat-icon {
      width: 24px;
      height: 25px;
    }

    &__text {
      width: 100%;
      height: 20px;
      text-align: left;
    }
  }

  &__root-menu {
    max-width: 290px !important;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .mat-menu-content {
      width: 100%;
    }
  }

  &--collapsed {
    outline: none;
    color: var(--theme-secondary-text-color);
    cursor: pointer;
    &:hover {
      color: var(--theme-accent-color);
    }
    margin: 0;
    border: none;
    background: none;
  }

  .app-create-menu--icon {
    color: var(--theme-accent-color);
  }

  &__sub-menu {
    .mat-menu-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      color: var(--theme-secondary-text-color);
      line-height: 48px;
      box-shadow: none;
      transform: none;
      transition: unset;
      font-weight: normal;

      &:hover {
        color: var(--theme-primary-color);
      }
    }

    .mat-menu-item[disabled],
    .mat-menu-item[disabled]:hover {
      color: var(--theme-text-disabled-color);

      .mat-icon {
        color: var(--theme-text-disabled-color);
      }
    }
  }
}
